# Ignore Python File created on exec/install
__pycache__/
cream.egg-info/
*.pyc

# Ignore all hidden files (except gitignore)
.*
!/.gitignore

/Build

# Ignore vtk files
*.vtk
*.bmp

# Used for testing
PhysicsPackages/testingPackage.f90
InputFiles/TRRM/Flat_fine.json
.gitignore
InputFiles/TRRM/BW_coarse.json
